<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
</head>
<body>
  <header>
  <div class="header-container">
    <h1 class="site-title">{{ site.title }}</h1>
    <nav class="navbar">
      <a href="#about">About</a>
      <a href="#experiences">Experiences</a>
      <a href="#projects">Projects</a>
      <a href="#skills">Skills</a>
      <a href="#hobbies">Hobbies</a>
    </nav>
  </div>
</header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
  </footer>
</body>
</html>
